<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939824471966-92uf64tk7eo68n83e6d9eh5nuemq0n5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939824471966-92uf64tk7eo68n83e6d9eh5nuemq0n5s</string>
	<key>API_KEY</key>
	<string>AIzaSyBrezwJDpAZo0E2gNT2-mMv5He7BzMGR-w</string>
	<key>GCM_SENDER_ID</key>
	<string>939824471966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mike.mike</string>
	<key>PROJECT_ID</key>
	<string>mike-d7e0b</string>
	<key>STORAGE_BUCKET</key>
	<string>mike-d7e0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939824471966:ios:683d8494d3c580f3b2808f</string>
	<key>DATABASE_URL</key>
	<string>https://mike-d7e0b.firebaseio.com</string>
</dict>
</plist>